html{
    justify-content: center;
    background-image: url(zdj3.jpeg);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.form h1{
 text-align: center;
 height: 2em;
 
}
.form input{
 width: 200px;
 height: 20px;
 border-radius: 10px;
 border: 2px solid black;
}
.form{
    border: 1px black solid;
    justify-content: center;
    height: 350px;
    width: 320px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 5px 5px 10px;
    background-color: white;
    border-radius: 5px;
}
.form .login-button{
    background-color: #03a9f4;
    width: 200px;
    height: 24px;
    border-radius: 10px;
    border: 2px solid black;
}